node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs
lib-cov

# Coverage directory
coverage

# nyc test coverage
.nyc_output

# Temporary directories
tmp/
temp/

# IDE configs
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db